:root {
    --second-font: 'Raleway', sans-serif;
    --accent-color: #2196F3;
    --main-color: #212121;
    --second-color: #757575;
    --third-color: #FFFFFF;
    --fourth-color: rgba(255, 255, 255, 0.6);
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--main-color);
}

/* Logo */
.logo {
    font-family: var(--second-font);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
    letter-spacing: 0.03em;
    color: var(--main-color);
}



.first-part {
    color: var(--accent-color);
}

/* Site nav */

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.site-nav {
    font-weight: 500;
    font-size: 14px;
    line-height: 1, 14;
    letter-spacing: 0.02em;


}

.studio-nav-link {
    color: var(--accent-color);
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
}

.site-nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    color: var(--main-color);

}

.site-nav-link:hover,
.site-nav-link:focus {
    color: var(--accent-color);
}

/* Auth nav */

.auth-nav-link {

    color: var(--second-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1, 14;
    letter-spacing: 0.02em;
}

.auth-nav-link:hover,
.auth-nav-link:focus {
    color: var(--accent-color);
}

/* Hero */
.hero {
    background-color: #2F303A;
    font-weight: 900;
    font-size: 44px;
    line-height: 1, 36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--third-color);
}

.hero-name {
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60/44);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--third-color);
}

.hero-btn {
    font-family: inherit;
    font-style: normal;
    background-color: var(--accent-color);
    color: var(--third-color);
    ;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);
    letter-spacing: 0.06em;
    cursor: pointer;
    border-color: transparent;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #188CE8;
}

/* Benefits */
.benefits-list {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-color);

}

.text {
    color: var(--second-color);
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;

}

/* Ocupation */
.ocupation {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42/36);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
}

/* Team */
.our-team {
    background-color: #F5F4FA;

}

.team {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42, 19/36);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
}


.team-worker {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(18, 75/16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
    background-color: var(--third-color);
}


.team-position {
    font-size: 16px;
    line-height: calc(19/16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-color);
    background-color: var(--third-color);
}

/* Footer */
.bottom {
    background-color: #2F303A;
}

.logo-link {
    font-family: var(--second-font);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1, 19;
    letter-spacing: 0.03em;
    color: var(--third-color);
}


.one-part {
    color: var(--accent-color);
}

.address {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1, 71;
    letter-spacing: 0.03em;
}

.address-list {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1, 71;
    letter-spacing: 0.03em;
}

.address-location-link {
    color: var(--third-color);
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;

}

.address-location-link:hover,
.address-location-link:focus {
    color: var(--accent-color);
}

.address-nav-link {
    color: var(--fourth-color);
    cursor: pointer;
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;

}


.address-nav-link:hover,
.address-nav-link:focus {
    color: var(--accent-color);
}

/* Портфоліо */

.port-nav-link {
    color: var(--accent-color);
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
}


.btn-port {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26/16);
    letter-spacing: 0.03em;
    border-color: transparent;
    cursor: pointer;
}

.btn-port:hover,
.btn-port:focus {
    background-color: var(--accent-color);
    color: var(--third-color);


}



.project-list {
    font-weight: 700;
    font-size: 18px;
    line-height: calc(36/18);
    letter-spacing: 0.06em;
    color: var(--main-color)
}

.project-text {
    font-size: 16px;
    line-height: calc(30/16);

    letter-spacing: 0.03em;

    color: var(--second-color);
}